{% extends "02_header.html" %}
{% block body %}
<!-- Banner swiper format -->
<div class="visual swiper-container">
    <div class="swiper-wrapper">
        <div style="background-image:url('/static/images/main/slider1.jpg');" class="swiper-slide">
            <div>
                <div>
                    <h1>Log-in</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>	<!-- /VISUAL -->
<script src="/static/js/swiper.min.js"></script>
<style type="text/css">
.swiper-container {
    width: 100%;
    height: 300px;
    }
.login_form .form-control {
	height: 45px;
	font-size: 20px;
}
</style>

<div class="basic_container" style="padding:10px 30px 20px 30px; width:500px; margin-top:30px; margin-bottom:30px; background-color:#F6F6F6">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		  <div id="alert_msg"class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	<form class="login_form" action="" method="post">
		<h1 class="small_title">Username</h1>
		<input type="text" name="username" class="form-control">	
		<h1 class="small_title">Password</h1>
		<input type="password" id="password" name="password" class="form-control">	
		<p class=".xs_description" style="margin-top:5px;">Not a member? <a href="/register"> Create account </a> </p>		
		<input class="btn btn-default" type="submit" value="Log-in" style="float:right; width:150px; margin:5px 0 5px 0">
		<div style="clear:both"></div>
	</form>	
</div>
{% endblock %}