{% extends "02_header.html" %}
{% block body %}
<!-- Banner swiper format -->
<div class="visual swiper-container">
    <div class="swiper-wrapper">
        <div style="background-image:url('/static/images/main/slider1.jpg');" class="swiper-slide">
            <div>
                <div>
                    <h1>Log-in</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>	<!-- /VISUAL -->
<script src="/static/js/swiper.min.js"></script>

<div class="basic_container">
    <h1 class="large_title">Quantum Engine</h1>
    <p class="normal_description">A simple application for computational materials science.</p>
    <p class="normal_description">You can make input files easily.</p>
    <p class="normal_description">You can analyze outputs easily.</p>
</div>
{% endblock %}