{% extends "02_header.html" %}
{% block body %}
<!-- Banner swiper format -->
<div class="visual swiper-container">
    <div class="swiper-wrapper">
        <div style="background-image:url('/static/images/main/slider1.jpg');" class="swiper-slide">
            <div>
                <div>
                    <h1>VASP Tracker</h1>
                    <p>You can track your VASP jobs.</p>
                </div>
            </div>
        </div>
    </div>
</div>	<!-- /VISUAL -->

<style type="text/css">
.swiper-container {
    width: 100%;
    height: 300px;
    }
#alert_msg {
	width:1200px;
}
.choose_job {
	min-height: 500px;
	margin-bottom: 50px;
}
.handle_job {
	min-height: 500px;
	margin-bottom: 50px;
}
.db_line {
	width: 300px;
}
.db_select:hover {
	background-color:#4C4C4C;
	color:white;
}
.db_select {
	border: 0;
	background-color: white;
	height: 50px;
	width: 100%;
	text-align: left;
	padding-left: 20px;
}
.db_select .small_description {
	float: left;
	width: 200px;
}
.table_title {
	padding-left: 20px;
}
.table_title .small_description {
	float: left;
	width: 200px;
	font-weight: 700;
}
.db_table .xs_description{
	color: black;
	font-size: 16px;
}
.db_table {
	width: 100%;
}
.db_table td {
	padding: 0 10px 0 10px;
}
.tracker_line:hover {
	background-color:#EAEAEA;
	color:white;
}
.button_group {
	text-align: center;
}
.button_group .btn-default {
	width: 23%;
	margin: 0 5px 50px 5px;
}
.button_group .btn-default:hover {
	background-color: #212121;
	color: white;
}
.modal-footer .btn {
	width: 150px;
	margin: 0 5px 0 5px;
}
.modal-body {
	height: 100%;
}

.modal-body .modal_container {
	text-align: left;
	//width: 300px;
	margin: 0 auto;
}
.modal_container .form-control {
	margin-bottom: 10px;
}
.modal_container .text_area {
	font-family: consolas;
	font-size: 16px;
}
.normal_dropdown {
	width: 300px;
	height: 30px;
	font-size: 18px;
}
.button_group2 {
	margin: 0 auto;
	text-align: center;
}
.button_group2 .form-control {
	display: inline;
	width: 23%;
	margin: 0 5px 10px 5px;
}
.cms_form {
	width: 400px;
	margin: 0 auto;
}
.other_form .xs_title {
	color: black;
}
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // status handling
        var status = "{{status}}"
        if ("init" == status) {
			$('.choose_job').show();
            $('.handle_job').hide();
        } else if ("db_selected" == status) {
			$('.handle_job').show();
            $('.choose_job').hide();
        }
		
		// check all checkbox
		$('.check-all').click(function(){
			$('.dbchk').prop('checked',this.checked);
		});
		
		// hide pbs queue script
		$("#pbs_script").hide();
		$("#priv_script").hide();

		var getSelectedRadios = function (groupName) {
			//$("input").css('border', '1px solid lightgray');
			var result = $('input[name="' + groupName + '"]:checked');

			// single point
			if (result.val() == "sge") {
				$("#sge_script").show();
				$("#pbs_script").hide();
				$("#priv_script").hide();
			} else if (result.val() == "pbs") {
				$("#sge_script").hide();
				$("#pbs_script").show();
				$("#priv_script").hide();
			} else if (result.val() == "priv") {
				$("#sge_script").hide();
				$("#pbs_script").hide();
				$("#priv_script").show();
			}
		};

		// sp click
		$('input[name="qsys"]').click(function () {
			getSelectedRadios('qsys');
		});
		
		$('#calc').click(function (){
			$('#dbtracker_action').val("calc");		
		});
		$('#del_db').click(function (){
			$('#dbtracker_action').val("del_db");		
		});
		$('#del_remote').click(function (){
			$('#dbtracker_action').val("del_remote");		
		});
		$('#update').click(function (){
			$('#dbtracker_action').val("update");		
		});

    });
</script>

<div class="separated_container">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		  <div id="alert_msg"class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    <div class="left_menu">
        <ul class="left_menu_ul">
            <a class="left_menu_link" href="/vasp"><li>Input Maker</li></a>
            <a class="left_menu_link" href="/vaspout"><li>Output Analyzer</li></a>
            <a class="left_menu_link" href="/vaspjobs" id="current_left_menu"><li>Job Tracker</li></a>
        </ul>
    </div>
    <div class="right_section">
        <!--1. Choose DB-->
        <div class="choose_job">
            <h1 class="medium_title">Choose your job from DB</h1>
			{% if not session.logged_in %}
			<p class="xs_description" style="color:black;margin-top:10px;">Do you want handle your own job? <a href="/register"> Create account </a> </p>
			{% endif %}			
			<div class="table_title">
				<div class="small_description">User</div>	
				<div class="small_description">Job name</div>
				<div class="small_description">Items</div>
				<div class="small_description">Date</div>
			</div>
			{% for d in data %}
			<form method="post" action="{{ url_for('vasp_tracker') }}">
				<!--hidden info-->
                <input type="text" style="display:none" name="dbname" value="{{d[1]}}">
				<div>
					<button class="db_select">
						<div class="small_description">{{d[0]}}</div>	
						<div class="small_description">{{d[1]}}</div>
						<div class="small_description">{{d[2]}}</div>
						<div class="small_description">{{d[3]}}</div>
					</button>
				</div>
			</form>
			{% endfor %}
			<form method="post" action="{{ url_for('vasp_db_clear') }}">
				<div style="clear:both">
				<hr>
				<div style="width:200px; margin:0 auto">
					<button type="submit" class="btn btn-default">Clear empty DB</button>
				</div>
				</div>
			</form>
        </div>
		
		<!--2. job tracker-->
		<form method="post" action="{{ url_for('vasp_tracker_action') }}">
			<!--hidden info-->
			<input type="text" style="display:none" name="jobname" value="{{jobname}}">
			<div class="handle_job">
				<h1 class="medium_title">Handle your job.</h1>
				<table class="db_table">
					<tr>
						<td><input type="checkbox" class="check-all"></td>
						<td><p class="xs_description"><b>Job name</b></p></td>
						<td><p class="xs_description"><b>Directory path</b></p></td>
						<td><p class="xs_description"><b>Date</b></p></td>
						<td><p class="xs_description"><b>Status</b></p></td>
					</tr>
					{% for d in data %}				
					<tr class="tracker_line">
						<td><input type="checkbox" class="dbchk" name="dbchk" value="{{d[2]}}"></td>
						<td><p class="xs_description">{{d[1]}}</p></td>
						<td><p class="xs_description">{{d[2]}}</p></td>
						<td><p class="xs_description">{{d[3]}}</p></td>
						<td><p class="xs_description">{{d[4]}}</p></td>
					</tr>				
					{% endfor %}
				</table>
				<hr>
				{% if cmsuser != True %}
				<div class="button_group2">
					<p class="small_description" style=>Server information</p>                    
                    <input type="text" id="server_ip" name="server_ip" class="form-control" placeholder="Server address">
                    <input type="text" id="server_port" name="server_port" class="form-control" placeholder="ssh port number (ex: 22)">
                    <input type="text" id="server_id" name="server_id" class="form-control" placeholder="Username in your server">
                    <input type="password" id="server_passwd" name="server_passwd" class="form-control" placeholder="Password">
					<!-- <p class="xs_description" style="color:red">WE NEVER RECORD YOUR INFORMATIONS.</p> -->
				</div>
				<hr style="clear: both">
				{% endif %}				
				<div class="button_group">
				<p class="small_description" style=>Action</p>   
					<button class="btn btn-default" type="button" id="calc" data-toggle="modal" data-target="#myModal"> Calculate </button>
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel"><p class="small_title"> Calculation settings for CMS members. </p></h4>
								  </div>								  
								  <div class="modal-body">
									<div class="modal_container">
										{% if cmsuser == True %}
											<div class="cms_form">
												<p class="small_description"> Queue </p>
												<select class="normal_dropdown" name="queuename">
												    <option class="dropdown_item" value="xeon1.q">xeon1</option>
												    <option class="dropdown_item" value="xeon2.q">xeon2</option>
												    <option class="dropdown_item" value="xeon3.q">xeon3</option>
												    <option class="dropdown_item" value="xeon4.q">xeon4</option>
												    <option class="dropdown_item" value="xeon5.q">xeon5</option>
												</select><br><br>
												<p class="small_description"> CPU use </p>
												<input type="text" id="cpu_use" class="form-control" name="cpu_use" value="24" style="width:300px;"><br><br>
											</div>
										{% else %}
											<div class="other_form">
												<p class="xs_title"> qsub path </p>
												<input type="text" id="qsub_path" class="form-control" name="qsub_path" value="qsub" placeholder="/opt/pbs/bin/qsub" data-toggle="tooltip" data-placement="right" title="or just type `qsub`"style="width:300px;">
												<p class="xs_title"> Submit script</p>
												<table>
													<!--Single point-->
													<tr>
														<td>
															<div class="radio_menu">
																<ul class="yesno">
																	<li><input type="radio" name="qsys" class="qsys" value="sge" checked><span class="small_description">SGE queue system</span></li>
																	<li><input type="radio" name="qsys" class="qsys" value="pbs" style="margin-left:20px;"><span class="small_description">PBS queue system</span></li>
																	<li><input type="radio" name="qsys" class="qsys" value="priv" style="margin-left:20px;"><span class="small_description">Load previous script</span></li>
																</ul>
															</div>
														</td>
													</tr>
												</table>
												<textarea class="text_area" id="sge_script" name="sge" cols="80" rows="14">{{sge_qscript}}</textarea>
												<textarea class="text_area" id="pbs_script" name="pbs" cols="80" rows="14">{{pbs_qscript}}</textarea>
												<textarea class="text_area" id="priv_script" name="priv" cols="80" rows="14">{{priv_qscript}}</textarea>
											</div>
										{% endif %}
									</div>
								  </div>
								  <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-default"><b>Calculate</b></button>
							  </div>
							</div>
						  </div>
						</div>
					<input class="btn btn-default" type="submit" id="update" value="Update status">
					<input class="btn btn-default" type="submit" id="del_db" value="Delete DB">
					<input class="btn btn-default" type="submit" id="del_remote" value="Delete DB and remote">
				</div>
				
			</div>
			<!--hidden info-->
            <input type="text" style="display:none" id="dbtracker_action" name="dbtracker_action" value="">
		</form>
 
    </div>
</div>
{% endblock %}